#inputs-datas-container {
  max-width: 40rem;
  margin: auto;
  padding: 1rem 0;
  background: radial-gradient(#307f6c, #278e65);
  border-radius: 0.4rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
